@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow: 255, 174, 24, 100;
    --neutral: 14 14 14;
    --accent: 232 28 49;
  }
}

[data-theme="joinT"] .btn,
[data-theme="joinT"] .link {
  font-family: sans-serif, var(--font-roboto-sans);
  font-size: 13.33px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
